<!DOCTYPE html>
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
<html ng-app="onePageCv">
  <head>
  	<!-- JQuery STUFF HERE -->
	<script type="text/javascript" src="resources/js/frameworks/jquery.js"></script>

  	<!-- TWITTER BOOTSTRAP STUFF HERE -->
    <link rel="stylesheet" type="text/css" href="resources/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="resources/css/bootstrap-theme.css" />
	<script type="text/javascript" src="resources/js/frameworks/bootstrap.js"></script>

	<!-- ANGULAR JS STUFF HERE -->
	<script type="text/javascript" src="resources/js/frameworks/angular.js"></script>

	<!-- PERSONNAL PACKAGES (Make sure they are loaded after their dependencies...) -->
	<script type="text/javascript" src="resources/js/app.js"></script>

    <title>Mon CV</title>
  </head>
  <body class="container" ng-controller="CvController as cv">
    <header>
    	<h1 class="text-center">Welcome to my CV</h1>
    </header>
	    <div class="product row" ng-repeat="skill in cv.skills">
			<h3>{{skill.name}}</h3> <h4> - {{skill.level}}</h4>

			<section class="tab" ng-controller="SkillTabController as skillTab">
				<ul class="nav nav-pills">
		          <li ng-class="{active: skillTab.isSet(1)}">
		            <a href ng-click="skillTab.setTab(1)">Description</a></li>
		          <li ng-class="{active: skillTab.isSet(2)}" ng-show="skill.projects">
		            <a href ng-click="skillTab.setTab(2)">Projects</a></li>
		          <li ng-class="{active: skillTab.isSet(3)}">
		            <a href ng-click="skillTab.setTab(3)">Endorsements</a></li>
		        </ul>
				<div ng-show="skillTab.isSet(1)">
					Description
					<blockquote>{{skill.description}}</blockquote>
				</div>
				<div ng-show="skill.projects && skillTab.isSet(2)">
					Projects
					<div ng-repeat="project in skill.projects">
						<h4>
							{{project.name}}
						</h4>
						<blockquote>
							{{project.description}}
						</blockquote>
					</div>
		    	</div>
		    	<div ng-show="skillTab.isSet(3)">
		    		Endorsements
		    		<div ng-repeat="endorsement in skill.endorsements">
		    			<blockquote>
		    				{{endorsement.comment}}
		    				<h4>{{endorsement.grade}}/10 - {{endorsement.author}}</h4>
		    			</blockquote>
		    		</div>
				    		<!--  Review Form -->
		            <form name="reviewForm" ng-controller="EndorsementController as endorsementCtrl" ng-submit="endorsementCtrl.addEndorsement(skill)">
						<!--  Live Preview -->
						<blockquote>
		    				{{endorsementCtrl.endorsement.comment}}
		    				<h4>{{endorsementCtrl.endorsement.grade}}/10 - {{endorsementCtrl.endorsement.author}}</h4>
		    			</blockquote>

						<!--  Review Form -->
						<h4>Submit an endorsement</h4>
						<fieldset class="form-group">
							<select class="form-control" ng-options="grade for grade in [10,9,8,7,6,5,4,3,2,1,0]"  ng-model="endorsementCtrl.endorsement.grade" title="Grade">
						  		<option value="">Give the guy a grade</option>
							</select>
						</fieldset>
						<fieldset class="form-group">
							<textarea class="form-control" placeholder="Write a short comment about the guy's skills..." ng-model="endorsementCtrl.endorsement.comment" title="Comment"></textarea>
						</fieldset>
						<fieldset class="form-group">
							<input ng-model="endorsementCtrl.endorsement.author" type="email" class="form-control" placeholder="JohnDoe@example.org" title="Email" />
						</fieldset>
						<fieldset class="form-group">
							<input type="submit" class="btn btn-primary pull-right" value="Submit Endorsement" />
						</fieldset>
		            </form>
		    	</div>
		    </section>
		</div>
  </body>
</html>

